* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.content-container.desktop,
.content-container.tablet,
.content-container.mobile {
    margin: 2rem auto 0 auto;
    border-radius: 1rem;
    background-color: var(--scheme-dark-blue);
    box-shadow: 0 2px 5px 0px rgba(0, 0, 0, .5);
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow-y: scroll;
}
.content-container.desktop {
    width: 1280px;
}
.content-container.tablet,
.content-container.mobile {
    width: 100%;
    overflow-y: scroll;
}
.content-container.mobile {
    margin-top: 1.5rem;
}
.content-container.desktop.medium,
.content-container.tablet.large,
.content-container.tablet.medium {
    margin-top: 1rem;
}
.content-container.desktop.small
.content-container.tablet.small {
    margin-top: 1rem;
}
.content-container.desktop.xsmall,
.content-container.tablet.xsmall {
    margin-top: 1.5rem;
}


.top-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.top-row.mobile {
    flex-direction: column;
}

.main-photo{
    display: inline;
    border-radius: 1rem;
    margin: 1rem 0.5rem 0rem 1rem;
    box-shadow: 0 2px 5px 0px rgba(0, 0, 0, .5);
}
.main-photo.desktop {
    width: 582px;
}
.main-photo.tablet {
    width: 45%;
}
.main-photo.mobile {
    width: 95%;
}

